body{
   background-color: #333333;
   color: #DDDDDD;
}


.jumbotron{
   font-family: 'EB Garamond', serif;
   background-image: url("../images/temazcalli_0.png");
   background-size: cover;
}

.info{
   font-family: 'EB Garamond', serif;
   background-image: url("../images/1-ojo-de-pez.jpg");
   background-size: cover;
}

.btn-primary{
   background-color: teal;
   border: 0px;
}

.navbar {
   margin-bottom: 0px;
}

.col-md-4 li{
   margin-bottom: 10px;
}

#myCarousel{
   background-color: black;
   height: 1000px;
   margin-top: 20px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
   display: block;
   height: auto;
   max-width: 100%;
   line-height: 1;
   width: 100%; /*TO CENTER IMAGE IN CAROUSEL*/
}

.coolStuffSection{
   text-align: center;
   margin-top: 50px;
}

.coolStuffSection p{
   text-align: left;
}
.coolStuffSection ul{
   text-align: left;
}

.coolStuffSection h3{
   margin-bottom: 40px;
}

#trailer{
   text-align: center;
   margin-top: 50px;

}

#description p{
   line-height: 40px;
}

#contactListButton{
   padding: 5px 10px;
}

#botonEnviar{
   color: #fff;
   background-color: #17a2b8;
}

#botonEnviar:hover{
   color: #fff;
   background-color: #17b8b8;
}

.badge-info{
   color: #fff;
   background-color: #17a2b8;
}


.glyphicon{
   font-size: 70px;
}

/*---------- IMAGENES -----------*/

.img-circle {
width: 45%;

}

/*---------- TEXTO -----------*/

.bio p{
    text-align: justify;
}
